<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<ul>
    <li>Nome: <%= @user.name %></li>
    <li>Cognome: <%= @user.surname %></li>
    <li>Nickname: <%= @user.nickname %></li>
    <li>Email: <%= @user.email %>
</ul>
