<div id="page">
  <div id="content">
	<div id="header">
	  <h1>Benvenuti in Gemmapp</h1>
	  <h2></h2>
	</div>

	<div id="getting-started">
	  <h1>Per cominciare</h1>
	  <h2></h2>

	  <ol>
		<li>
		  <h2>Iscriviti</h2>
		  <p>Entra a far parte di Gemmapp</p>
		</li>

		<li>
		  <h2>Accedi</h2>
		  <p>Ritorna in Gemmapp</p>
		</li>
	  </ol>
	</div>
  </div>

  <div id="footer">&nbsp;</div>
</div>
