<div id="page" class="main_page">
  <div id="content">
    <div id="header">
      <h1>Benvenuti in Gemmapp</h1>
      <h2></h2>
    </div>

    <div id="getting-started">
      <h3>Per cominciare</h3>
      <p>Se sei già iscritto, puoi <%= link_to "entrare", "#", :class => "round" %>. Altrimenti</p>
      <%= link_to "Unisciti a noi!", join_path, :class => "join_button round" %>
    </div>
  </div>

  <div id="footer">&nbsp;</div>
</div>
