<header>
    <%= image_tag("logo.png", :size => "76x67", :alt => "Gemmapp", :class => "round") %>
    <nav class="round">
        <ul>
            <li><%= link_to "Home", '#' %></li>
        </ul>
    </nav>
</header>